
@{
    ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <h2 class="display-4">@Model.Name</h2>
</div>

<div class="container row">

    <div class="col-4">

        <div class="text-center">
            <h3 class="lead">Basic Info</h3>
        </div>

        <div class="row">
            <code>Status: </code>
            <p class="lead">@Model.Status</p>
        </div>

        <div class="row">
            <code>Species: </code>
            <p class="lead">@Model.Species</p>
        </div>

        <div class="row">
            <code>Gender: </code>
            <p class="lead">@Model.Gender</p>
        </div>

        <div class="row">
            <code>Origin: </code>
            <p class="lead">@Model.Origin</p>
        </div>

    </div>


    <div class="col-4">
        <img src="@Model.Image"/>
    </div>

    <div class="col-4">

        <div class="text-center">
            <h3 class="lead">Episode Appearances</h3>
        </div>

        @foreach(string episode in Model.EpisodeList)
        {
            <code>Episode: </code>
            string[] data = episode.Split("https://rickandmortyapi.com/api/episode/");
            int episodeID = Int32.Parse(data[1]);

        <p class="lead">
            <a asp-controller="Rick" asp-action="ShowEpisode"
               asp-route-episodeID="@episodeID">
                @episode
            </a>
        </p>
        }
    </div>

</div>